body {
  min-height: 100vh;
  background-color: white;
  /* background: no-repeat */
  /* linear-gradient(180deg, #fed7e2 0%, #fff5f7 20%, #fff5f7 100%); */
}

canvas {
  max-width: 100%;
  max-height: auto;
  border: 1px solid blue;
}

img {
  max-width: 100%;
}

/*library*/
.wrapper {
  display: flex;
  justify-content: space-between;
}

.library {
  margin: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 1000px;
  overflow-y: auto;
}

.library img {
  margin-bottom: 10px;
}

/*canvassen*/
.fabric-canvas {
  width: 400px !important;
  height: 500px !important;
}

.dither-canvas {
  width: 400px !important;
  height: 500px !important;
}

.canvassen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
