body {
  min-height: 100vh;
  background-color: white;
  font-family: "Kosugi", sans-serif;
}

img {
  max-width: 100%;
}

p {
  color: red;
  margin: 0px 0px 10px 0px;
}

/*header*/
.introtekst p {
  display: flex;
  flex-direction: column;
}

/*library*/
.wrapper2 {
  display: flex;
  justify-content: center;
}

.library__child {
  margin: 0px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 810px;
  overflow-y: auto;
}

.library__child img {
  margin-bottom: 20px;
}

/*canvassen*/
canvas {
  border: 1px solid blue;
  padding: 5px;
}

.canvas-container {
  margin: 0px 50px 0px 0px;
}

.canvassen {
  display: flex;
  flex-direction: row;
}

/* save button */
.wrapper1 button {
  width: 70px;
  height: 30px;
  background-color: red;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0;
  margin: 0px 0px 10px 0px;
  font-family: "Kosugi", sans-serif;
}
