body {
  min-height: 100vh;
  background-color: white;
  /* background: no-repeat */
  /* linear-gradient(180deg, #fed7e2 0%, #fff5f7 20%, #fff5f7 100%); */
  font-family: "Kosugi", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: red;
  text-decoration: none;
  display: inline;
}

/*header*/
header {
  color: red;
}

.introtekst p {
  margin: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
}

.linkzin {
  display: inline-block;
}

/*library*/
.wrapper {
  display: flex;
}

.library {
  margin: 0px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 810px;
  overflow-y: auto;
}

.library img {
  margin-bottom: 10px;
}

/*canvassen*/
canvas {
  border: 1px solid blue;
  padding: 5px;
}

.canvas-container {
  margin: 0px 50px 0px 0px;
}

.canvassen {
  display: flex;
  flex-direction: row;
}

/* save button */

.wrapper button {
  width: 70px;
  height: 30px;
  background-color: red;
  font-size: 1.1rem;
  border: 1px dashed violet;
  cursor: pointer;
  padding: 0;
  margin: 0px 50px 0px 25px;
  font-family: "Kosugi", sans-serif;
}
